.card{
    text-align: center;
    padding-top: 10px;
    opacity: 1;
    width: 500px;
    height: 300px;
    background-color: rgba(0,0,0,0.5);
}

.card-title{
    color: #262626;
    display: block;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 15px;
}

.container{
    text-align: center;
    width: 100px;
    margin-top: 200px;
}

.img{
    display: block;
    margin-left: 40px;
    margin-right: 10px;
}

.slick-prev:before, .slick-next:before {
    color: white !important;
}

.slick-dots li.slick-active button:before {
    color:white !important;
}

.slick-slide {
    outline: none
}

.follow {
    background-color: #3897f0 !important;
    border: 1px solid #3897f0 !important;
    border-radius: 4px;
    color: #fff;
    width: 90px;
    margin-top: 20px !important;
    margin: 15px;
}

.row{
    display: flex;
}

.info{
    font-size: 10px;
}

.heading{
    color: white;
}

.btn_live{
    color: tomato;
    background-color: transparent;
    border: transparent;
}

.btn_live:hover{
    color: red;
}